.appContainer{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    height: 105vh; */
    
    padding: 0em 2em 0em 2em;
}