.appContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    /* grid-column-gap: 20px; */
    grid-row-gap: 20px;
    height: 100vh;
    padding: 0em 1rem 0  1rem;
    /* padding: 1rem; */
    overflow: hidden;
}