@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,400;1,500;1,600&display=swap");
.loginBox{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100vh;
  width: 800px;
  padding: 1rem;
  transform: translate(-50%, -50%);
  background: rgba(150, 146, 146, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin-top: 5rem;
}
.childrenForm{
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:1fr repeat(5, 2fr);
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}
.div1 { grid-area: 1 / 1 / 2 / 3; }

.loginBox h2{
  font-size: 2rem;
  margin: 0 0 30px;
  padding: 0;
    color: #f39c12;
  text-align: center;
}
.userBox {
    position: relative;
  }
.userBox input{
    width: 100%;
  /* padding: 10px 0; */
  font-size: 16px;
  color: #fff;
  margin-bottom: .5rem;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.userBox input:focus{
  border-bottom-color: #f39c12; 
}
.userBox input:focus ~ label,
.userBox input:valid ~ label {
  top: -20px;
  left: 0;
  color: #f39c12;
  font-size: 13px;
}
.button{
  background: rgba(0, 0, 0, 0.5);
  font-weight: 700;

  color: white; /* Color del texto */
  font-size: 16px;
  padding: 10px 20px;
  border: 2px solid #f39d129d;
  border-radius: 5px;
}
.button:hover {
    cursor: pointer;
    background: #f39d1290;
    font-weight: 700;
    color: #eee;
    border-radius: 5px;
    box-shadow: 0 0 5px #f39c12, 0 0 25px #f39c12, 0 0 50px #f39c12,
      0 0 100px #f39c12;
  }
.button:focus{
  background-color: #f39d1253;
}
input[type="range"] {
  background-color: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  border-radius: 5px;
  background-color: #eee;
  transition: width 0.2s;
}

input[type="range"]::-webkit-slider-thumb {
  transform: translate(-50%, -25%);
  background-color: #f39c12;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(242, 106, 126, 0.2);
  transition: transform 0.2s;
}

input[type="range"]:hover::-webkit-slider-thumb {
  transform: translate(-50%, -25%) scale(1.2);
}

input[type="range"]:active::-webkit-slider-runnable-track {
  background-color: #f39c12;
}

input[type="range"]:active::-webkit-slider-thumb {
  transform: translate(-50%, -25%) scale(1.5);
}

.divTypesForm{
  display: flex;
  flex-direction: row;
  background-color: #f39c12;
  width: fit-content;
}
.tipesForm{
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 30px; */

  /* flex-direction: column; */
  gap: 20px;
}
.selectDisable{
  pointer-events: none;
}
