.contDetail {
	display: flex;
	justify-content: center;
	gap: 25rem;
	/* justify-content: space-around; */
	align-items: center;
	width: 100%;
	height: 100vh;
	/* width: 100vw; */
}

.imageDetail {
	width: 350px;
	z-index: 100;

	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}
@keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}
.detailImgSvg{
	position: relative;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
	z-index: 100;

}

.containerDetilSvg{
	position: absolute;
	z-index: 1;

	bottom: 2rem;
	width: 270px;
}
.detailSvg {
	z-index: 1;
	transform: scale(2);	
}
.detailSvg path{
	stroke-width: 1px;
}