.cardContainer {
  border: 1px solid rgba(14, 14, 14, 0.781);
  border-radius: 1em;
  background-color: rgba(14, 14, 14, 0.781);
  padding: 0;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}
.cardContainer:hover {
  border: 1px solid rgba(142, 142, 142, 0.868);
  box-shadow: 0 0 7px 3px rgba(142, 142, 142, 0.425);
}

.cardImg {
  width: 260px;
  /* height: 100px; */
  animation: fedein 1s;
  transition: transform 0.3s;
  transform: scale(0.8);
}

.cardImg:hover {
  transform: scale(1.2) translateY(10px) translateY(-35px);
}
@keyframes fedein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cardTitle,
.cardId {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  color: #454545cf;
}
.cardDetails {
  display: flex;
  justify-content: center;

  gap: 3rem;
}
.cardType {
  width: 40px;
  height: 40px;
  /* background-color: red; */
  /* background: none; */
  font-size: 10px;
  margin: 0;
  padding-bottom: 1rem;
}

/* loading */
.loadingCard {
  width: 260px;
  height: 360px;
}
@media only screen and (max-width: 600px) {
  .cardImg {
    width: 160px;
  }
  .loadingCard {
    width: 160px;
    height: 260px;
  }
  .cardTitle,
  .cardId {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: #454545cf;
  }
}
