.filterContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
    background-color: rgba(21, 20, 20, 0.556);
    padding: 0 1em 0 2em; 
    border-right: 2px solid #8f909278;
    height: 90vh;
    left: 0;
    margin-top: 73px;
    /* max-height: auto; */
    /* padding: 0; */
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    width: 60%;
    z-index: 0; 
    
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInRight {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInRight {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 

.buttonContainerFilter{
  display: flex;
  padding: .2rem;
}

select {
  border: none;
  background: linear-gradient(to right, #7F7FD5, #86A8E7, #91EAE4);
  color: #342f2f;
  font-size: 1.1rem;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

select:focus {
  outline: none;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
} 

:root {
  --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
  --gray: #34495e;
  --darkgray: #2c3e50;
}

select {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: .7em 1em;
  color: #fff;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 14.3em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: .25s all ease;
  pointer-events: none;
}
.select:hover::after {
  color: #f39c12;
}

@media only screen and (max-width: 600px) {
  .filterContainer {
    display: none;
  }
}