body {
  background-color: #151515f7;

  /* display: flex; */
}

.homeContainer {
  display: grid;
  grid-template-columns: 1fr 9fr 3fr;
  grid-template-rows: 14fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.homeNavD1 {
  grid-area: 1 / 1 / 2 / 2;
  position: fixed;
}
.homeCardsD2 {
  grid-area: 1 / 2 / 2 / 3;
  scroll-behavior: smooth;
  padding-right: 1px;
}
.homeFilterD3 {
  grid-area: 1 / 3 / 2 / 4;
  position: fixed;
  right: 0;
  /* left: 0; */
}
.footerFiterD4 {
  grid-area: 2 / 1 / 3 / 4;
}

.homeCards {
  padding: 0em 0.3em;
}
.cursorHome {
  position: absolute;
}

/* .parent {
display: grid;
grid-template-columns: 1fr 9fr 2.5fr;
grid-template-rows: 12fr 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 1 / 3 / 4; } */

@media only screen and (max-width: 600px) {
  .homeContainer {
    display: block;
  }
  
}
