.progressBar{
    width: 200px;
    height: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}
.progress{
    height: 100%;
    background-color: #00cc00;
    transition: width 0.3s ease-in-out;
    
}
