.cardsContinerPokemons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cardsContainer{
    border-radius:1rem ;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    justify-content: center;
    padding: .5rem 1rem;
  }
.cardsChildren{
  margin: 0;
  padding: 0;
  width: fit-content;
}
.cadsPaginado{
  display: flex;

}