.cardsContainer{
    border-radius:1rem ;
    background: rgba(0, 0, 0, 0.322);
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0em;
    margin: 0;
    height: 350px;
  }
.cardsChildren{
  margin: 0;
  padding: 0;
  /* width: fit-content; */
}