@import url("https://fonts.googleapis.com/css2?family=Farsan&display=swap");

.containerLanding {
  /* position: relative; */

  /* position: absolute; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* z-index: 200; */
  /* background-color: rgba(0, 0, 0, 0.878); */
  color: #fff;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.795),
    rgba(163, 105, 50, 0.507),
    rgba(112, 70, 26, 0.717)
  );
}

/*  */
.titleLanding {

    background-color: rgba(0, 0, 0, 1);
    font-size: 70px;
    text-align: center;
    font-weight: 700;
    mix-blend-mode: multiply;
  }

.containerPhone{
    padding: 0 1rem 0 1rem ;
}
.buttonLanding {
  font-family: "Farsan", cursive;
  font-weight: 700;

  color: #2c2c2c;
  border: 1px solid #ffffff;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background: linear-gradient(
    360deg,
    rgba(186, 203, 87, 0.797),
    rgb(255, 141, 27)
  );
  width: 100%;
  height: 50px;
  
}

.buttonLanding:hover {
  background: linear-gradient(
    360deg,
    rgba(255, 128, 0, 0.737),
    rgba(186, 203, 87, 0.719)
  );
}

.childrenLanding img {
  display: none;
}
.subtitleLanding {
    /* font-family: "Farsan", cursive; */
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.756);
    /* padding: 0 0 0 3rem;     */
  }
@media screen and (min-width: 640px) {
  .containerLanding {
    color: #fff;
  }

  .childrenLanding {
    position: relative;
    /* margin: 2rem ; */
    display: flex;
    justify-items: end;
    justify-content: flex-end;
    padding: 1rem;
    flex-direction: column;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    height: 90vh;
    border-radius: 0 0 1rem 1rem;
    font-size: 2rem;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;

    /* background-color: #3a3a3aa8; */
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.795),
      rgba(163, 105, 50, 0.507),
      rgba(112, 70, 26, 0.717)
    );
  }

  .childrenLanding img {
    display: block;
    /* position: absolute; */
    /* bottom: 0;
        right: 100;
        z-index: 200;
         */
  }
  .titleLanding {
    position: absolute;
    top: -130px;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    /* height: 110vh; */
    height: 104.71%;
    font-size: 150px;
    text-align: center;
    font-weight: 700;
    mix-blend-mode: multiply;
  }

  .imgBottomLanding {
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: center;
  }
  .imgLanding {
    width: 400px; /* Ancho fijo en píxeles */
    height: 230px;
  }
  .subtitleLanding {
    font-family: "Farsan", cursive;

    color: rgba(255, 255, 255, 0.756);
    /* padding: 0 0 0 3rem;     */
  }
  .buttonLanding {
    font-family: "Farsan", cursive;
    font-weight: 700;
    color: #2c2c2c;
    border: 1px solid #ffffff;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background: linear-gradient(
      360deg,
      rgba(186, 203, 87, 0.797),
      rgb(255, 141, 27)
    );
    width: 300px;
    height: 50px;
  }

  .buttonLanding:hover {
    background: linear-gradient(
      360deg,
      rgba(255, 128, 0, 0.737),
      rgba(186, 203, 87, 0.719)
    );
  }
}
