.containerLanding{
    /* position: relative; */
   
    /* position: absolute; */
    /* z-index: 200; */
    /* background-color: rgba(0, 0, 0, 0.878); */
    color: #fff;
    /* width: 100%; */
    /* height: 100%; */
}
.videoLanding{
    position: relative;
}
.titleLanding{
    position: absolute;
    top: -130px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    width: 100%;
    /* height: 110vh; */
    height: 104.71%;
    font-size: 150px;
    text-align: center;
    font-weight: 700;
    mix-blend-mode: multiply;
} 
.buttonLanding{
    position: absolute;
    /* top: 0; */
    z-index: 300;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 50px;
    transform: translate(550px,-210px);  /* right: 0; */
    
}
.buttonDivLanding{
    /* position: absolute; */
    z-index: 300;
    top: 0;
    left: 0;
    right: 0;
}
.childrenLanding{
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    height: 439.5px;
    border-radius: 1rem;
    border: 1px solid #fff;
    background: linear-gradient(180deg, rgba(199, 113, 21, 0.854), rgba(163, 138, 50, 0.589), rgba(228, 225, 225, 0.247));    
}
.childrenLanding img{
     position: absolute;
     top: 0;
     left: 0;
     
     
}

.subtitleLanding{
    color: rgb(255, 255, 255);
    padding: 1rem 0 0 3rem;    
   }