@import url('https://fonts.googleapis.com/css2?family=Farsan&display=swap');

.containerLanding{
    /* position: relative; */
   
    /* position: absolute; */
    /* z-index: 200; */
    /* background-color: rgba(0, 0, 0, 0.878); */
    color: #fff;
    /* width: 100%; */
    /* height: 100%; */
}

.videoLanding{
    position: relative;
}
.titleLanding{
    position: absolute;
    top: -130px;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    /* height: 110vh; */
    height: 104.71%;
    font-size: 150px;
    text-align: center;
    font-weight: 700;
    mix-blend-mode: multiply;
} 


.buttonLanding{
    font-family: 'Farsan', cursive;
    /* color: rgba(33, 33, 33, 0.756); */
    font-weight: 700;
    color: #2c2c2c;
    border: 1px solid #ffffff;
    font-size: 1.5rem;
    position: absolute;
    border-radius: .5rem;
    cursor: pointer;
    /* border: none; */
    background: linear-gradient(360deg, rgba(186, 203, 87, 0.797),rgb(255, 141, 27));
    /* top: 0; */
    z-index: 300;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 50px;
    transform: translate(180px,-50px);  /* right: 0; */
    
}
.buttonLanding:hover{
    background: linear-gradient(360deg,rgba(255, 128, 0, 0.737), rgba(186, 203, 87, 0.719))

}
.buttonDivLanding{
    /* position: absolute; */
    z-index: 300;
    left: 0;
    right: 0;
}



.childrenLanding{
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    height: 439.5px;
    border-radius: 0 0 1rem 1rem;
    font-size: 2rem;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;

    /* background-color: #3a3a3aa8; */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.795), rgba(163, 105, 50, 0.507), rgba(112, 70, 26, 0.717));    
}
.childrenLanding img{
     position: absolute;
     top: 0;
     left: 0;
     
     
}

.subtitleLanding{
    font-family: 'Farsan', cursive;

    color: rgba(255, 255, 255, 0.756);
    padding: 0 0 0 3rem;    
   }