.divContainer{
    border: 2px solid rgb(19, 18, 18);
    padding-top:1rem ;
} 
 
 .navContainer{
    display: flex;
    justify-content: space-around;
    border: 2px solid red;
    border-radius: 10px;

    /* padding-top: 1rem; */
} 